.App {
    max-width: 660px;
    margin: 40px auto;
}

start-button{
    background-image: url('button1.jpeg');
    border: 2px solid #fff;
    padding: 6px 12px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1.0em;
    font-family: Minecraftia;
}

start-button:hover{
    background-image: url('hoverbutton.jpeg');
    color: #fff;
}

.grid{
    margin-top: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
    cursor: pointer;
}
